export ROOT_DIR=$PWD
export BIN_DIR=$ROOT_DIR/bin
export KUBE_DIR=$ROOT_DIR/.kube
export DATA_DIR=$ROOT_DIR/.data
export BASES_DIR=$ROOT_DIR/bases
export CLUSTERS_DIR=$ROOT_DIR/clusters
export REGISTRY_MIRROR_DATA_DIR=$(readlink --canonicalize ${DEFAULT_REGISTRY_MIRROR_DATA_DIR:=$PWD/.data/registry-mirror})

export KAPP_NAMESPACE=kapp

PATH_add $BIN_DIR

