export CLUSTER_DIR=$PWD

export K3D_NAME=tracing
export K3D_SERVER_COUNT=1
export K3D_AGENT_COUNT=2
export K3D_PORT_START=7200

source_env ../.envrc.cluster-base

PATH_add $CLUSTER_DIR/../monitor-incluster/bin
